* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: auto;
}
.main-fieldset {
  padding: 2rem 0rem;
  border: 15px double;
  box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.9);
}
#main-head {
  font-size: 2rem;
  font-weight: 600;
  font-style: italic;
  color: #424341;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  gap: 40px;
}

.col {
  flex: 1;
}
.col2 {
  flex: 1;
}
fieldset {
  margin: 40px 0;
  background: #e5e5e5;
}
legend {
  font-size: 25px;
  text-align: center;
}
.sub-fieldset {
  border: 2px solid gray;
}
.sub-head {
  font-size: 26px;
  text-align: left;
  color: #424341;
  font-weight: bold;
}
.info-detail {
  display: flex;
  padding: 40px 15px;
}
.info-detail label,
.info-detail input,
.resume-info input,
.resume-info textarea {
  padding: 5px;
  border-radius: 5px;
}
.info-detail input {
  width: 100%;
  border: 1px solid black;
}
.info-detail input:focus {
  color: rgb(31, 31, 31);
  outline: none;
}
.info-detail label {
  font-weight: 500;
}
.resume-info label:hover,
.edu-info label:hover,
.info-detail label:hover {
  text-decoration: underline;
  cursor: pointer;
}
.resume-info,
.edu-info {
  padding: 20px 10px;
}

.profile-info,
.edu-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edu-info textarea {
  padding: 4px;
}
.btn-container {
  text-align: center;
  margin: 15px 0;
}
.btn-container button {
  background: gray;
  padding: 5px 15px;
  font-size: 17px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btn-container button:hover {
  color: black;
  background: #bfbdbd;
}
.resume-btn {
  text-align: center;
  padding: 40px 0 50px 0;
}
.resume-btn button {
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background 2s ease-in;
}
.resume-btn button:hover {
  background: #696969;
  color: white;
}
@media (max-width: 360px) {
  .main-fieldset {
    border: none;
  }
}
@media (max-width: 700px) {
  .main-fieldset {
    padding: 1rem;
    border-width: 10px;
  }

  #main-head {
    font-size: 1.5rem;
  }

  .row {
    flex-direction: column;
    padding: 0 1rem;
    gap: 20px;
  }

  .info-detail {
    flex-direction: column;
    padding: 10px 10px;
  }

  .info-detail input {
    width: 100%;
  }

  .resume-info,
  .edu-info {
    padding: 5px;
  }

  .resume-info input,
  .resume-info textarea {
    width: 100%;
    font-size: 15px;
  }

  .btn-container {
    margin: 10px 0;
  }

  .btn-container button {
    padding: 5px 10px;
    font-size: 16px;
  }

  .resume-btn {
    padding: 20px;
  }

  .resume-btn button {
    padding: 10px;
    font-size: 1rem;
  }
}

:root {
  --main-color: #14bfcb;
}
#resume-generated {
  display: none;
}

.main-container {
  max-width: 800px;
  width: 100%;
  height: fit-content;
  box-shadow: 0px 0px 30px #00000026;
}
.top-sec {
  background: #fff;
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10%;
}
.user-sec {
  width: fit-content;
}
.blue-bar {
  width: 7rem;
  height: 20rem;
  background: var(--main-color);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.user-circle {
  width: 13rem;
  aspect-ratio: 1/1;
  background: white;
  position: absolute;
  border-radius: 50%;
  top: 10%;
  box-shadow: rgba(50, 50, 93, 0.15) 50px 0px 80px -20px,
    rgba(0, 0, 0, 0.2) 30px 0px 40px -30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.under-blue {
  width: 80%;

  height: 80%;
  background: var(--main-color);
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.15) 20px 0px 50px -20px,
    rgba(0, 0, 0, 0.2) 30px 0px 40px -30px;
}
.under-blue img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.user-name {
  margin-left: 12%;
  margin-top: -4rem;
}
.user-name h1 {
  font-size: 50px;
  line-height: 70px;
  font-weight: 800;
  color: #424341;
}
.user-name p {
  width: 55vw;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 550;
  font-style: italic;
  color: #696969;
}

.bottom-sec {
  width: 100%;
  background: white;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.bottom-left {
  width: 37%;
  padding-top: 5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.b-l-sec {
  width: 70%;
}
.heading {
  width: 100%;
  padding: 10px 0 10px 20px;
  background-color: #424341;
  border-radius: 30px;
  box-shadow: 10px 5px 25px -10px #5757579c;
}
.heading h3 {
  font-size: 18px;
  color: white;
}
.b-l-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: 1.5rem 0 2rem 0;
}
.b-l-detail ul li {
  width: 100%;
  padding: 7px 0;
  color: #696969;
}
.b-l-detail ul li::marker {
  font-size: 20px;
}
.course {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.course-detail li {
  color: #696969;
  margin-top: 5px;
  padding: 2px;
}
.course-detail li::marker {
  font-size: 1.2rem;
}

.detail {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  font-size: 15px;
  text-decoration: none;
  color: #696969;
}
.bottom-right {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: #424341;
  position: relative;
  border-radius: 100px 0 0 0;
  padding: 4rem 5% 0 5%;
}
.r-heading {
  background: var(--main-color);
}
.r-heading h3 {
  color: #424341;
}
.r-heading h3 i {
  margin-right: 10px;
}
.r-b-detail {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 25px;
  margin: 1.8rem 0 2rem 0;
}
.r-b-detail,
.r-b-detail ul li {
  color: #d1d1d1;
  font-size: 16px;
}
.r-b-detail ul li {
  padding-bottom: 10px;
  margin-left: 15px;
}
.r-b-detail ul li::marker {
  color: var(--main-color);
  font-size: 1.2rem;
}
.school {
  width: 100%;
}
.education .dot {
  width: 15px;
  aspect-ratio: 1/1;
  background: var(--main-color);
  border-radius: 50%;
  margin-top: 4px;
}
.education-detail {
  width: 100%;
}

.education-detail li {
  color: #e5e5e5;
  margin: 5px 0;
}
.education-detail li::marker {
  font-size: 1.2rem;
  color: var(--main-color);
}
.b-l-card button {
  padding: 12px;
  border-radius: 1rem;
  font-size: 16px;
  background-color: var(--main-color);
  color: #424341;
  font-weight: 700;
  cursor: pointer;
  border: none;
}
.editBtn {
  text-align: center;
  margin: 1.5rem;
}
.editBtn button {
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  background: white;
  transition: background 2s ease-in;
}
.editBtn button:hover {
  background: #424341;
  color: white;
}
@media (max-width: 750px) {
  .blue-bar {
    width: 5.5rem;
    height: 14rem;
  }
  .user-circle {
    top: 3%;
    width: 10rem;
  }
  .user-name {
    margin-left: 10%;
    margin-top: 4rem;
  }
  .user-name h1 {
    font-size: 45px;
    line-height: 53px;
  }
  .user-name p {
    font-size: 27px;
  }

  .bottom-sec {
    justify-content: flex-start;
    flex-direction: column;
  }
  .bottom-left {
    width: 100%;
    padding-top: 5rem;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .bottom-right {
    width: 100%;
    height: fit-content;
    margin-top: 0;
    border-radius: 0;
    padding: 4rem 5% 0rem 5%;
  }
  .b-l-sec {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding: 0 4%;
    flex-wrap: wrap;
  }

  .b-l-card {
    width: 300px;
  }
  .b-l-detail ul li {
    margin-left: 1.4rem;
  }
  .b-l-card button {
    margin-bottom: 30px;
  }
}
@media (max-width: 550px) {
  body {
    margin: auto;
    padding: 2rem 1.5rem;
  }
  .user-circle {
    top: 10%;
    width: 8rem;
  }
  .top-sec {
    padding-left: 10%;
  }
  .blue-bar {
    width: 3.5rem;
    height: 13rem;
  }
  .user-name {
    margin-left: 20%;
    margin-top: 0;
  }
  .user-name h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .user-name p {
    font-size: 20px;
    margin: 0px;
  }
  .b-l-detail {
    margin: 1rem 0 0 0;
  }

  .b-l-sec {
    margin-top: 2rem;
  }
  .b-l-card button {
    margin: 20px;
  }
}




















































